.app {
  position: absolute;
  height: 300vh;
  width: 100%;
  background-color: rgb(112, 56, 50);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}