.eachSlide {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  background-size: cover;
  background-position: center;
  // height: 50%;
  overflow: hidden;

  img {
    // display: none;
    height: auto;
    width: 100%;
  }
}
