.wrapper {
  // position: relative;
  // top: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  &Sticky {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .navigationPoint {
    list-style: none;
    margin: 10px auto;

    &NavLink {
      text-decoration: none;
      font-size: 30px;
      transition: 0.4s;
      &:hover {
        color: rgb(131, 122, 108);
      }

      &Active {
        color: rgb(162, 187, 73);
      }
    }
  }
}

.checker {
  position: relative;
  top: 100vh;
}

.position {
  position: relative;
  top: 80%;
  left: 20%;
  transition: 0.5s;

  &Sticky {
    // @extend .position;
    position: fixed;
    top: 0;
    left: 20%;
    background-color: red;
  }
}
