.section {
  height: 100vh;
  width: 100%;
  background-color: blue;
  
  &Article {
    position: absolute;
    top: 115vh;
    left: 0;
    text-align: center;
  
  }

  // .slider {
  //   // position: relative;
  //   width: auto;
  //   height: 100%;
  //   background-image: url(../../assets/navigation/slider3.jpg);
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;

  // }
  
  h2 {
    font-size: 32px;
  }
}